@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
* {
  /* border: solid 1px black; */
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  font-family: Noto Sans TC, serif;
  box-sizing: border-box;
  vertical-align: top;
}

/* top */
.top {
  height: 250px;
  background-color: #fff;
}
.top .top-container {
  max-width: 1200px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.top .top-container .home img {
  width: 250px;
}
.top .top-container .title {
  margin: 20px 0;
}
.top .top-container .title h4 {
  font-size: 20px;
  font-weight: 100;
  color: #888;
}
.top .top-container nav .nav-link {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  color: #777;
}
.top .top-container nav .nav-link:hover {
  color: #000;
  transition: 0.5s;
}
.top .top-container nav .about {
  color: #000;
}

/* profolio */
.portfolio {
  background-color: #ededed;
  padding: 40px 0;
}
.portfolio .port-main {
  text-align: center;
  max-width: 1680px;
  margin: 20px 0;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio .port-main .port-wrap {
  font-size: 0px;
  padding: 10px 90px;
}
.portfolio .port-main .port-wrap .txt {
  width: 35%;
  padding-left: 20px;
  display: inline-block;
  text-align: left;
}
.portfolio .port-main .port-wrap .txt h2 {
  color: #281d19;
  font-family: Oswald, Noto Sans TC;
  font-weight: 600;
  font-size: 34px;
  line-height: 42px;
  margin-bottom: 10px;
}
.portfolio .port-main .port-wrap .txt p {
  font-family: Noto Sans TC, serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}
.portfolio .port-main .port-wrap .txt .icon{
  /* display: inline-block; */
  margin-top: 15px;
}
.portfolio .port-main .port-wrap .txt .icon .adicon{
  display: inline-block;
  box-sizing: border-box;
  font-size: 22px;
  text-align: center;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.portfolio .port-main .port-wrap .txt .icon .ps{
  background-color: rgb(25, 24, 45);
  color: rgb(55, 197, 239);
  border: solid 3px rgb(55, 197, 239);
}
.portfolio .port-main .port-wrap .txt .icon .ai{
  background-color: rgb(49, 23, 13);
  color: rgb(244, 127, 32);
  border: solid 3px rgb(244, 127, 32);
}
.portfolio .port-main .port-wrap .txt .icon .id{
  background-color: rgb(53, 16, 33);
  color: rgb(231, 86, 164);
  border: solid 3px rgb(231, 86, 164);
}
.portfolio .port-main .port-wrap .txt .icon .ae{
  background-color: rgb(33, 24, 71);
  color: rgb(218, 148, 248);
  border: solid 3px rgb(218, 148, 248);
}


.portfolio .port-main .port-wrap .pic {
  display: inline-block;
  width: 65%;
  max-width: 1200px;
  /* margin: auto; */
  padding: 0 30px;
  font-size: 0;
}
.intr{
  width: 100%;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2.5px #ccc ;
  background-color: #fff;
  text-align: left;
  background-image: url(/img/about_pic/labs_bg.png);
}
.intr .me{
  display: inline-block;
}
.intr .me img{
  width: 100%;
  box-shadow: 2px 2px 3px rgba( 204, 204, 204, 0.5) ;
}
.intr .mpho{
  width: 60%;
  left: 0;
}
.intr .mtxt{
  width: 40%;
  padding: 20px
}
.intr .mtxt p{
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 3%;
}
/* 小螢幕 */
@media screen and (max-width: 1000px){
  .portfolio .port-main .port-wrap {
    padding: 10px 10%;
  } 
  .portfolio .port-main .port-wrap .txt {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  } 
  .portfolio .port-main .port-wrap .pic {
    width: 100%;
    padding: 0;
  } 
}
@media screen and (max-width: 600px){
  .portfolio .port-main .port-wrap .pic .intr .me{
    width: 100%;
    text-align: center;
  } 
}

/* fotter */
.footer {
  background-color: #fafafa;
}
.footer p {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: thin;
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
  padding: 10px 0;
}

/* top-btn */
.top-btn {
  position: fixed;
  bottom: 2em;
  right: 2em;
  height: 50px;
  width: 50px;
  z-index: 50;
  background: url(/img/home_pic/top-btn.png);
  background-size: contain;
}
